<!-- Edit -->
{{#link-to 'edit-question' question.id}}
  <!-- <button class="btn btn-success"> -->
    <i class="fa fa-pencil"></i>
  <!-- </button> -->
{{/link-to}}

<!-- Delete -->
<!-- <button class="btn btn-danger" {{action 'deleteQuestion' question}}> -->
  <i {{action 'deleteQuestion' question}} class="fa fa-trash"></i>
<!-- </button> -->
