<div class="jumbotron">
  <h2>Q & A Message Board</h2>
</div>

<ul>
  {{#each model.questions as |question|}}
    <li>
      {{#link-to 'question' question.id}}
        <h3>
          {{question.query}}
          <small><i>author: {{question.author}}</i></small>
        </h3>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
