<ul>
  {{#each model.questions as |question|}}
    <li>
      <h3>
        {{question.query}}
        <small><i>by {{question.author}}</i></small>
      </h3>
    </li>
  {{/each}}
</ul>

<div class="container">
  {{new-question saveQuestion="saveQuestion"}}
</div>
