<ul>
  {{#each model.questions as |question|}}
    <li>
      {{#link-to 'question' question.id}}
        <h3>
          {{question.query}}
          <small><i>by {{question.author}}</i></small>
        </h3>
      {{/link-to}}
    </li>
  {{/each}}
</ul>

<div class="container">
  {{new-question saveQuestion="saveQuestion"}}
</div>
